EBIRD_API_KEY=

ENABLE_EMAIL_ALERT=false

ENABLE_TELEGRAM_ALERT=false

# Filter config
# Supported filter mode options:
# NOTABLE: locally or nationally rare species or unusual
# OWL: owls only
FILTER_MODE=
# Additional species that will be added to NOTABLE filter results, listed in species code, separated by comma, e.g. wesgre,pibgre
# You can find species codes here: https://api.ebird.org/v2/ref/taxonomy/ebird
ADDITIONAL_SPECIES_CODES=
DAYS_BACK=
# List of locations defined by a name followed by cordinates to 2 decimal places, separated by slash, e.g. Home:11.22,-33.44/Somewhere else:55.66,-77.88
# If not provided, use ip address to determine current location, might be inaccurate
LOCATION_CORDINATES=
# The search radius from the given position, in miles
MAX_DISTANCE_FROM_LOCATION=

# Email alert configs, leave them blank if you are not using this feature
SENDER_EMAIL_ADDRESS=
SENDER_EMAIL_PASSWORD=
EMAIL_SUBJECT=
# Separate multiple recipients with comma, e.g. a@a.com,b@b.com
EMAIL_RECIPIENTS=

# Telegram alert configs, leave them blank if you are not using this feature
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
